[Desktop Entry]
Version=1.0
Type=Application
Name=MAC info
Comment=Autostart entry for a Krunner plugin: MAC info
Keywords=Runner;Krunner
Categories=Utilities
Exec=/usr/bin/python3.8 "~/.local/lib/krunner-plugins/krunner-mac-plugin/krunner-mac-plugin.py"
Path=~/.local/lib/krunner-plugins/krunner-mac-plugin/
Icon=python
StartupNotify=true
